*{
    font-family: "Oswald", sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}


body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
}
#backgroundImg{
    height: 100vh;
    width: auto;
}
.logoImage{
    height:9vh
}

.Logo {
    display: flex;
    position: absolute;
    top: 25%;
    background-color: #000000d3;
    padding: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box; 
    gap:40px;
}
.title{
    font-size: 45px;
    font-style: italic;
}

.formContainer{
    background-color: rgb(252, 252, 252);
    width: 100%;
}

.heading{
    margin-top: 6vh;
    font-weight: 100;
    padding: 50px;
    font-size: 1rem;
    flex: 1;
}

form{
    display: flex;
    gap: 100px;
    
    padding: 30px;
    padding-left: 50px;
    align-items: center;
    background-color: #e7e7e7;
}

form>div{
    display: flex;
    flex-direction: column;
}

input{
    width: 20vw;
    transition: transform 0.2s ease-in-out;
}

input.password:invalid{
    border: solid 2px rgb(231, 73, 73);
}

input:valid{
    border: solid 2px rgb(131, 189, 77);
}

input:hover{
    
    transform: scale(1.05);
}